.vscode/**
out/**

**.db

**/.DS_Store
.DS_Store

**/node_modules/**

benchmarks/js/**/**.json
benchmarks/ts/**/**.json

# Latex Garbage
**.log
**.aux
**.bbl
**.bcf
**.blg
**.fdb_latexmk
**.fls
**.out
**.synctex.gz
**.toc
**.lof
**.lot
**.idx
**.locode
**.lof
**.pdf
**.run.xml
**.synctex(busy)
_minted-**
**.equ
**.lol
**.nlo